/* ================= FONDO ================= */
.loginFondo {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #010038, #20124d, #00bcbc);
  display: flex;
  align-items: center;
  padding: 1% 10%;
}

/* ================= BIENVENIDA ================= */
.welcomeSection {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 250px;
  max-width: 150%;
  display: block;
  background: white;
  border-radius: 100px;
}

.welcomeSection h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 18px;
  text-align: center;
}

.welcomeSection p {
  font-size: 20px;
  text-align: center;
}

/* ================= LOGIN ================= */
.loginContainer {
  width: 100%;
  max-width: 600px;
  padding: 50px 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  text-align: left;

  /* Animación (de bd) */
  animation: fadeIn 0.5s ease-in-out;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loginContainer h2 {
  color: #000;
  margin-bottom: 35px;
  font-size: 40px;
}

/* ================= INPUTS ================= */
.inputGroup {
  width: 100%;
  margin-bottom: 20px;
}

.inputGroup input {
  width: 100%;
  padding: 14px 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s;
}

.inputGroup input:focus {
  outline: none;
  border-color: #00bcbc;
  box-shadow: 0 0 0 3px rgba(0, 188, 188, 0.15);
}

/* ================= BOTÓN ================= */
.loginContainer button {
  width: 100%;
  padding: 14px;
  background: #00b06a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.loginContainer button:hover {
  background: #00cc6a;
  transform: translateY(-2px);
}

/* ================= RESPONSIVE ================= */
@media (max-width: 992px) {
  .loginFondo {
    flex-direction: column;
    padding: 40px 20px;
    gap: 35px;
  }

  .logo {
    width: 180px;
  }

  .welcomeSection h1 {
    font-size: 46px;
  }

  .loginContainer {
    max-width: 500px;
  }
}